*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body,
textarea,
input {
  line-height: 1.5;
  font-weight: 400;
  color: #000;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

p,
ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

/* General Classes start */

.container {
  max-width: 1596px;
  margin: 0px auto !important;
  padding: 0;
  margin: 0;
}

.general-btn {
  font-size: 12px;
  line-height: normal;
  font-weight: 500;
  color: #f0fdf4;
  cursor: pointer;
}

.general-btn:hover {
  color: #ffffff;
}

.general-heading {
  font-size: 36px;
  font-weight: 600;
  line-height: normal;
  color: #222222;
}

/* General Classes End */

/* Header start */

header {
  width: 100%;
  border-bottom: 1px solid #715de2;
}

header .navbar {
  padding: 12px 20px;
}

.navbar .navbar-brand {
  padding: 0;
}

.navbar-toggler {
  border: none;
  padding: 0;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar .nav-item .nav-link {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  color: #222222;
  transition: 0.4s all ease;
}

/* Active Nav Link */
.nav-item .nav-link:hover,
.nav-item .nav-link.active {
  color: #715de2 !important;
}

.navbar .hire-btn-wrap .hire-btn {
  background-color: #715de2;
  padding: 8px 33px;
  border-radius: 4px;
}

/* Header end */

/* Banner start */

.banner {
	padding: 50px 25px;
}

.banner .banner-content {
	text-align: left;
}

.banner-content .banner-heading {
	font-size: 42px;
	font-weight: 700;
	line-height: 1.3;
	color: #222222;
	margin-bottom: 20px;
}

.banner-heading span {
	color: #715de2;
}

.banner-content .banner-paragraph {
	font-size: 16px;
	font-weight: 400;
	line-height: normal;
	color: #222222;
}

.banner-content .banner-btn-wrap {
	margin-top: 20px;
}

.banner-content .banner-btn {
	font-size: 16px;
	font-weight: 400;
	line-height: normal;
	background-color: #715de2;
	padding: 13px 22px;
	border-radius: 6px;
}

/* Banner End */

/* Content strat */

/* Services start */

.services {
	padding: 20px 25px;
}

.services .services-content {
	text-align: center;
}

.services-content .services-paragraph {
	font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: #222222;
}

.services .services-card {
	padding: 40px 0;
}

.services-card .services-card-content {
	text-align: left;
	background-color: #F8F9FD;
	padding: 16px 16px 27px 16px;
	box-shadow: 0px 41px 83px -15px rgba(85, 105, 135, 0.2);
    border-radius: 13px;
}

.services-card-content .card-icon {
	width: 55px;
	height: 55px;
	background-color: #222222;
	border-radius: 50%;
	padding: 12px;
	text-align: center;
	margin-bottom: 16px;
}

.services-card-content .card-heading {
	font-size: 20px;
	font-weight: 600;
	line-height: normal;
	color: #000000;
	margin-bottom: 16px;
}

.services-card-content .card-pargraph {
	font-size: 14px;
	font-weight: 400;
	line-height: normal;
	color: #222222;
}

/* Services end */

/* Counter start */

.counter {
	background-color: #222222;
}

.counter .counter-content {
	padding: 35px;
	text-align: center;
}

.counter-content .counter-count {
	font-size: 32px;
	font-weight: 600;
	line-height: normal;
	color: #715DE2;
	margin-bottom: 8px;
}

.counter-content .counter-text {
	font-size: 14px;
	font-weight: 400;
	line-height: normal;
	color: #F8F9FD;
}

.counter .counter-col {
	border-bottom: solid 1px #F8F9FD;
}
.counter .counter-col:last-child {
	border: none;
}

/* .counter .counter-col::after {
    content: "";
    background: #F8F9FD;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    position: absolute;
}

.counter .counter-col:last-child:after {
    display: none;
} */

/* Counter end */

/* Content end */

/* Footer start */
/* Footer end */

/* Responsive start */

/* Mobile first */

@media only screen and (min-width: 1920px) {
}

@media only screen and (min-width: 1600px) {
}

@media only screen and (min-width: 1440px) {
}

@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 576px) {
}

@media only screen and (min-width: 360px) {
}

/* Responsive end */
